h1 {
	font-family: arial, "Times New Roman";
	font-size: 50px;
	font-style: oblique;
	text-align: center;
	text-decoration: underline;
	color: purple;
	letter-spacing: 5px;
	
p {
	font-family: "Hand Writing Font";
	font-size: 20px;
	text-align: left;
	color: blue;
	}
	
p1{
	font-family: "Bubble Font";
	font-size: 20px;
	font-style: italic;
	font-size: 20px;
	text-align:left;
	color:pink;
	
}
	

