body{
background-image:url ('y-so-serious.png');

}

p{
color: white; 
font-family: Arial;
}

h3{
color:#FFBC00; font-size: 40px; font-family: "Passion One"; and margin-bottom: 0px;

}

li{
}

#Header{
width: 500px;
margin-left: auto;
margin-bottom: 10px;
border: solid 8px black;
text-align:center;
background-color: #8E41D5;
}

#Header h1{
font-size: 60px; font-family: "Passion One"; color: #FFBC00; font-weight: bold; 
}

#LeftNav{
width: 400px;
margin-left: auto;
margin-bottom: 10px;
border: solid 8px black;
float:left;
text-align:center;
color:#FFBC00;font-size: 40px;font-family: "Passion One"; and margin-bottom: 0px;
background-color: #8E41D5;
padding-bottpm:8px;
color: white; font-weight: bold; font-size: 24px;
}

#LeftNav img{


}

#LeftNav ul{


}

#LeftNav h3{
#FFBC00;, font-size: 40px;, font-family: "Passion One"; and margin-bottom: 0px;

}

#Content{
width: 700px;
margin-left: auto;
margin-bottom: 10px;
border: solid 8px black;
text-align:center;
padding:15px;
background-color: #8E41D5;
}

#Footer{
width: 500px;
margin-left: auto;
margin-bottom: 10px;
border: solid 8px black;
float:center;
text-align:center;
color:#FFBC00;font-size: 40px;font-family: "Passion One"; and margin-bottom: 0px;
background-color: #8E41D5;
color: white; font-weight: bold; font-size: 24px;
}

ul{
list-style-type:none;
padding-left:0px;
}